<!doctype html>
<html lang="en">
	<!--#include virtual="/head.shtml"-->
	<body>
		<div id='root' class='row'>

			<div class='col'></div>

			<div class='col-lg-8'>
				<!--#set var="active" value="shops"-->
				<!--#include virtual="/nav.shtml"-->

				<div>
					<b-alert v-model="showAlertTime" :variant="alertClass" fade dismissible>
						<strong>{{alertType}}!</strong> {{alertMsg}}
					</b-alert>
					<h1>
						Available Shops
					</h1>
					<div id="suggestions">
						<vue-good-table
							:rows="shopAry"
							:columns="shopHeader"
							:sort-options="{ initialSortBy: [ {field: 'distance'} ] }"
							:search-options="{ enabled: true }"
							style-class="vgt-table table table-bordered table-striped table-hover table-condensed"
							>
							<template slot="table-row" slot-scope="shop">
								<span v-if="shop.column.field == 'distance'">
									<span v-if="shop.row.shop != editshopname">
										<span v-if="typeof shop.row.distance != 'undefined' && shop.row.distance != null">
											{{shop.row.distance}} m
										</span>
									</span>
									<span v-else>
										<input
											type="text"
											class="form-control"
											v-model="shops[editshopname].distance"
											placeholder="number in meter"
											/><br/>
Lat:&nbsp;{{shop.row.position.lat}}<br/>
										Lon:&nbsp;{{shop.row.position.lng}}
									</span>
								</span>
								<span v-else-if="shop.column.field == 'phone'">
									<span v-if="shop.row.shop != editshopname">
										<a
											v-if="typeof shop.row.phone != 'undefined'"
											v-bind:href="'tel:'+encodeURI(String(shop.row.phone).replace(/[() ]/g,'-'))">{{shop.row.phone}}</a>
									</span>
									<span v-else>
										<input type="text" class="form-control" v-model="shops[editshopname].phone" placeholder="Phone" />
									</span>
								</span>
								<span v-else-if="shop.column.field == 'comment'">
									<span v-if="shop.row.shop != editshopname">
										<vue-markdown :anchor-attributes="anchorAttrs">{{shop.row.comment}}</vue-markdown>
									</span>
									<span v-else>
										<b-tooltip target="shopedit" triggers="hover">
											<dl>
												<dt>Basic Markdown</dt><dd><b>**Bold**</b> <i>*Italic*</i> etc…</dd>
												<dt>Links</dt><dd>[linktitle](https://www.example.org/)</dd>
											</dl>
										</b-tooltip>
										<textarea
											id="shopedit"
											class="form-control"
											v-model="shops[editshopname].comment"
											placeholder="Comment (with markdown support)"
											rows='1'></textarea>
										<b-card>
											<vue-markdown
												:anchor-attributes="anchorAttrs"
												:show="true"
												:source="shops[editshopname].comment"
												></vue-markdown>
										</b-card>
									</span>
								</span>
								<span v-else-if="shop.column.field == 'action'">
									<span v-if="shop.row.shop != editshopname">
										<button
											class="btn btn-primary btn-sm"
											v-on:click="editShop"
											v-bind:data-shop="shop.row.shop"
										>✍</button>
										<!--button
											class="btn btn-primary btn-sm"
											v-on:click="proposeShop"
											v-bind:data-shop="shop.row.shop"
										>👉</button-->
									</span>
									<span v-else>
										<button
											class="btn btn-primary btn-sm"
											v-on:click="cancelEdit"
											v-bind:data-shop="shop.row.shop"
										>✗</button>
										<button
											class="btn btn-primary btn-sm"
											v-on:click="confirmEdit"
											v-bind:data-shop="shop.row.shop"
										>✓</button>
									</span>
								</span>
							</template>
						</vue-good-table>
					</div>
				</div>

				<b-input
					v-model="mapSearchAddress"
					debounce="500"
					placeholder="OpenStreetMap search string…"
					></b-input>
				<l-map
					id="shopMap"
					:zoom="17"
					:center="shopMapCenter"
					v-if="shopMapCenter.lat && shopMapCenter.lng"
					worldCopyJump="true"
					>
					<l-tile-layer
						attribution="&copy; <a href='https://osm.org/copyright'>OpenStreetMap</a> contributors"
						url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
						></l-tile-layer>
					<l-marker
						v-if="searchMarker.position.lat && searchMarker.position.lng"
						:lat-lng.sync="searchMarker.position"
						draggable='true'
						>
						<l-popup
							v-if="searchMarker.actionText"
							>
							<b-button
								@click="setLatLon"
								>
								{{searchMarker.actionText}}
							</b-button>
						</l-popup>
						<l-tooltip>{{searchMarker.tooltip}}</l-tooltip>
					</l-marker>
					<l-marker
						v-if="communityLatLng.lat && communityLatLng.lng"
						:lat-lng.sync="communityLatLng"
						draggable="true"
						>
						<l-icon
							icon-url="https://openclipart.org/download/30805/go-home.svg"
							>
						</l-icon>
						<l-tooltip>{{community}}</l-tooltip>
					</l-marker>
					<l-marker
						v-for="shop in shops"
						:key="shop.shop"
						v-if="shop.position.lat && shop.position.lng"
						:draggable="shop.draggable"
						:lat-lng.sync="shop.position"
						>
						<l-icon
							icon-url="https://openclipart.org/download/278690/Pizza-by-Jessica-Sawyer.svg"
							>
						</l-icon>
						<l-tooltip>{{shop.shop}}</l-tooltip>
					</l-marker>
				</l-map>
			</div>
			<div class='col'></div>
		</div>

		<!--#include virtual="/foot.shtml"-->
	</body>
</html>
