<!doctype html>
<html lang="en">
	<!--#include virtual="/head.shtml"-->
	<body>
		<div id='root' class='row'>

			<div class='col'></div>

			<div class='col-lg-8'>
				<!--#set var="active" value="pay"-->
				<!--#include virtual="/nav.shtml"-->
				<div>
					<b-alert v-model="showAlertTime" :variant="alertClass" fade dismissible>
						<strong>{{alertType}}!</strong> {{alertMsg}}
					</b-alert>
					<h1>
						Pay
					</h1>
					<div>
						<div class="vgt-global-search vgt-clearfix">
							<div class="vgt-global-search__input">
								<span class="input__icon">
									<div class="magnifying-glass"></div>
								</span>
								<input type="text" placeholder="Search for users (case-insensitive)" class="vgt-input" v-model="searchTerm" >
								<div class="vgt-global-search__actions vgt-pull-right"></div>
							</div>
						</div>
						<vue-good-table
							:rows="payments"
							:columns="header"
							:sort-options="sortOpts"
							:search-options="{
								externalQuery: searchTerm,
								searchFn: filterUsernameTable
							}"
							style-class="vgt-table table table-bordered table-striped table-hover table-condensed"
							>
							<template slot="table-row" slot-scope="payment">
								<span v-if="payment.column.field == 'button'">
									<!--button
										class="btn btn-primary btn-sm"
										title="The order was fetched!"
										v-on:click="setOrderFetched"
										v-bind:data-user="payment.row.from_user"
										v-bind:data-shop="payment.row.shop"
										v-bind:data-meal="payment.row.meal"
										v-bind:data-day="payment.row.day"
									>🍕</button-->
									<b-tooltip
										:target="'payAction'+payment.row.to_user+payment.row.from_user+payment.row.shop+payment.row.day+payment.row.meal"
										triggers="focus">
											Did {{payment.row.from_user}} gave {{payment.row.price}} ct to {{payment.row.to_user}}?
										<b-button
											v-on:click="setOrderPaid"
											class="btn btn-primary btn-sm"
											variant="success"
											v-bind:data-user="payment.row.from_user"
											v-bind:data-shop="payment.row.shop"
											v-bind:data-meal="payment.row.meal"
											v-bind:data-day="payment.row.day">Yes</b-button>
										<b-button
											variant="danger"
											class="btn btn-primary btn-sm"
											v-on:click="vueapp.$root.$emit('bv::hide::tooltip','payAction'+payment.row.to_user+payment.row.from_user+payment.row.shop+payment.row.day+payment.row.meal)"
											>No</b-button>
									</b-tooltip>
									<button
										:id="'payAction'+payment.row.to_user+payment.row.from_user+payment.row.shop+payment.row.day+payment.row.meal"
										class="btn btn-primary btn-sm"
										title="Set payment…"
									>€</button>
									<span v-if="paymentInstructions[payment.row.to_user]">
										<b-tooltip
											:target="'userAction'+payment.row.to_user+payment.row.from_user+payment.row.shop+payment.row.day+payment.row.meal"
											triggers="focus">
									<vue-markdown
										:show="true"
										:anchor-attributes="anchorAttrs"
										:source="transformPaymentInstruction(paymentInstructions[payment.row.to_user],payment.row)"
										></vue-markdown>
									</b-tooltip>
									<button
										:id="'userAction'+payment.row.to_user+payment.row.from_user+payment.row.shop+payment.row.day+payment.row.meal"
										class="btn btn-primary btn-sm"
										title="Get Payment Instructions…"
									>ℹ</button>
									</span>
								</span>
							</template>
						</vue-good-table>
					</div>
				</div>

				<h1>Balance</h1>
				<div class="mt-1 mb-1">
					<b-tooltip
							:target="pay_all_button"
							triggers="focus">
						This will resolve all current displayed transactions!
						<ol>
							<li v-for="payment in this.getFilteredPayments()">{{payment.price}} ct: {{payment.from_user}} → {{payment.to_user}}</li>
						</ol>
						<b-button
								v-on:click="setOrderPaidEverything"
								class="btn btn-primary btn-sm"
								variant="success">Yes, please go on!</b-button>
						<b-button
								variant="danger"
								class="btn btn-primary btn-sm"
								v-on:click="vueapp.$root.$emit('bv::hide::tooltip','pay_all_button')"
								>Cancel</b-button>
					</b-tooltip>
					<button
							id="pay_all_button"
							class="btn btn-primary btn-sm"
							title="Set everything to paid!"
							:disabled="!(this.searchTerm.length > 0 && this.getFilteredPayments().length > 0)"
							>Pay everything</button>
				</div>
				<table class="table table-bordered table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th>Person</th><th>Payment</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="amount,person in paymentPool">
							<td>{{person}}</td>
							<td>{{amount}} ct</td>
						</tr>
					</tbody>
				</table>
				(Hint: Positive values mean, the person has to pay. Negative values mean, the person gets money.)
			</div>
			<div class='col'></div>
		</div>

		<!--#include virtual="/foot.shtml"-->
	</body>
</html>
