<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Lunch@DD</title>
		<!--link rel="stylesheet" href="css/style.css"-->
		<link rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css"
			integrity='sha256-93wNFzm2GO3EoByj9rKZCwGjAJAwr0nujPaOgwUt8ZQ='
			crossorigin='anonymous'>
		<link rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
			integrity='sha256-7UcH1ovNtjYnCAPzyjRIxKY9TGAYU+9bHL36h9lM+4c='
			crossorigin='anonymous'>
		<link rel="stylesheet" href="custom.css">
	</head>

	<body>
		<div id='root' class='row'>

			<div class='col'></div>

			<div class='col-lg-8'>
				<div>
					<ul class="nav nav-tabs tabs">
						<li class="nav-item"><a class="nav-link active" href="/">Order</a></li>
						<li class="nav-item"><a class="nav-link" href="/pay.html">Pay</a></li>
						<li class="nav-item"><a class="nav-link" href="/config.html">Config</a></li>
					</ul>
					</ul>
				</div>

				<div>
					<h1>
						Suggestions
					</h1>
					<div id="suggestions">
						<table class="table table-bordered table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th>User</th><th>Food Store</th><th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="item in suggestions">
									<td>{{item.user}}</td><td>{{item.shop}}</td>
									<td>
										<button class="btn btn-primary btn-sm" v-on:click="deleteSuggestion" v-bind:data-shop="item.shop" v-bind:data-user="item.user">✘</button>
									</td>
								</tr>
								<tr>
									<th colspan="3">
										Suggest something new
									</th>
								</tr>
								<tr>
									<td>
										<input type="text" class="form-control" v-model="userId" placeholder="Who suggests something?" />
									</td>
									<td>
										<input type="text" class="form-control" v-model="shopId" placeholder="From where do you want to get Food?" />
									</td>
									<td>
										<button class="btn btn-primary btn-sm" v-on:click="announceShop">Suggest Shop</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div>
					<h1>
						Orders of today
					</h1>
					<div id="orders">
						<table class="table table-bordered table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th>User</th><th>Food Store</th><th>Meal</th><th>Price</th><th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="order in orders">
									<td>{{order.user}}</td><td>{{order.shop}}</td><td>{{order.meal}}</td><td>{{order.price}}<span v-if="order.price"> ct</span></td>
									<td>
										<button
											class="btn btn-primary btn-sm"
											v-on:click="deleteOrder"
											v-bind:data-user="order.user"
											v-bind:data-shop="order.shop"
											v-bind:data-meal="order.meal"
											v-bind:data-price="order.price"
											>✘</button>
									</td>
								</tr>
								<tr>
									<th colspan="5">
										Order something
									</th>
								</tr>
								<tr>
									<td>
										<input type="text" class="form-control" v-model="userId" placeholder="Who is ordering?" />
									</td>
									<td>
										<input type="text" class="form-control" v-model="shopId" placeholder="From where do you want to get Food?" />
									</td>
									<td>
										<input type="text" class="form-control" v-model="meal" placeholder="What do you want to order?" />
									</td>
									<td>
										<input type="number" class="form-control" v-model="price" placeholder="(optional) Price in Cent" />
									</td>
									<td>
										<button class="btn btn-primary btn-sm" v-on:click="orderLunch">Order Lunch</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>


			</div>
			<div class='col'></div>
		</div>

		<script src="https://unpkg.com/vue@3.0.2/dist/vue.global.js"
					integrity="sha256-MwaU6OXDMndkdLPZIIJuGTIAsy81wtCHPWstt2PbjcU="
		 crossorigin="anonymous"></script>
		<script src="https://unpkg.com/swagger-client@3.11.1/dist/swagger-client.browser.min.js"
					integrity="sha256-EpKgZSAFo/pdX5QNsXwYBjpwlP19KUFmpnqkl6IEMm0="
		 crossorigin="anonymous"></script>
		<script	src='https://unpkg.com/bootstrap-vue@2.18.1/dist/bootstrap-vue.min.js'
	 integrity='sha256-nNKj6IdIDnMrroYTi78x1uBhX4h10Rf1Qz7s3PJ/0Kw='
	 crossorigin='anonymous'></script>
		<script	src='https://unpkg.com/bootstrap-vue@2.18.1/dist/bootstrap-vue-icons.min.js'
	 integrity='sha256-HFhJXM/axz5V4P/TNu5B9XXhzME6A0TT9iPzJ6Qg1Bw='
	 crossorigin='anonymous'></script>
		<script src="lunch.js"></script>
	</body>
</html>
