<!doctype html>
<html lang="en">
	<!--#include file="head.shtml"-->
	<body>
		<div id='root' class='row'>

			<div class='col'></div>

			<div class='col-lg-8'>
				<!--#set var="active" value="pay"-->
				<!--#include file="nav.shtml"-->
				<div>
					<h1>
						Pay
					</h1>
					<div>
						<table class="table table-bordered table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th>From</th><th>To</th><th>Price</th><th>Food Store</th><th>Meal</th><th>Day</th><th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="payment in payments">
									<td>{{payment.from_user}}</td>
									<td>{{payment.to_user}}</td>
									<td>{{payment.price}}<span v-if="payment.price"> ct</span></td>
									<td>{{payment.shop}}</td>
									<td>{{payment.meal}}</td>
									<td>{{payment.day.substring(0,10)}}</td>
									<td>
										<button
											class="btn btn-primary btn-sm"
											v-on:click="deleteOrder"
											v-bind:data-user="payment.from_user"
											v-bind:data-shop="payment.shop"
											v-bind:data-meal="payment.meal"
											v-bind:data-price="payment.price"
											v-bind:data-day="payment.day.substring(0,10)"
										>✘</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div>
					<h1>
						Prices of Today’s Orders
					</h1>
				</div>
				<table class="table table-bordered table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th>Shop</th><th>Meal</th><th>Price</th><th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="p in prices">
							<td>{{p.shop}}</td>
							<td>{{p.meal}}</td>
							<td>
								<input type="number" class="form-control" v-model="p.price" placeholder="Price in Cent" />
							</td>
							<td>
								<button class="btn btn-primary btn-sm" v-bind:data-id="prices.indexOf(p)" v-on:click="updatePrice">update</button>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
			<div class='col'></div>
		</div>

		<!--#include file="foot.shtml"-->
		<script src="pay.js"></script>
	</body>
</html>
