.btn {
	background-color: #1d71b8;
}
.tooltip-inner{
	max-width: 500px;
	text-align: left;
}
a {
	color: #1d71b8;
}
#shopMap {
	height: 500px;
}
body {
	font-family: 'TypoPRO Linux Biolinum', 'DejaVu Sans', sans-serif;
}

